/* Geral */
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  color: #333;
  box-sizing: border-box;
}

body {
  background-image: url("./images/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

button {
  background-color: #fdfdfd;
  border: 2px solid #e6700f;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #e6700f;
  color: #fff;
}

button:hover > i {
  color: #fff;
}

button i {
  color: #e6700f;
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* Header */
.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* To-do Form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
}
